.headerPerf{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8em;
}

.logoPerfil{
    background-image: url(../../img/img3.jpg);
    background-size: contain;
    margin-right: 2em;

    width: 5em;
    height: 5em;
   

}
.headerBot{
    display: flex;
    justify-content: center;
}

.logoutBot{
    all: unset;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-left:2em ;
    color: #fb76ac;
    border: 0.1em solid #0192a6;
    border-radius: 0.5em;
    width: 5em;
    cursor: pointer;
    &:hover {
        background-color:#0192a6;
        color: white;
    }
}

.bodyPerfil{
    display: flex;
    height: 30em;
    
    
}
.bodyCitas{
    width: 25em;
    
}
.citas{
    display: flex;
    flex-direction: column;
    border-right: 0.3em solid #0192a6;
    padding-right: 1em;
    width: em;
}
.cardCitas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;

}
.cancBot{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: stretch;;
  
    font-weight: bold;

    color: #fb76ac;
    border: 0.1em solid #fb76ac;
    border-radius: 0.5em;
    width: 6em;
    cursor: pointer;
    &:hover {
        background-color:#fb76ac;
        color: white;
    }
}

.nuevaCita{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    width: 10em;
    height: 14em;
    padding-left: 1em;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.inputsCitas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input{
        all: unset;
        font-style: oblique;
        border: 0.1em solid #0192a6;
        
        border-radius: 0.3em;
        margin-left: 1em;
        margin-top: -1em;
    }

}
.citaBot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    
}
.botonCita{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;;
  
    font-weight: bold;

    color: #0192a6;
    border: 0.1em solid #0192a6;
    border-radius: 0.5em;
    width: 6em;
    cursor: pointer;
    &:hover {
        background-color:#0192a6;
        color: white;
    }

}






