.general{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.headerReg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15em;
    
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3em;
}
.logoRegistro{

    background-image: url(../../img/img11.jpg);
    background-size: contain;
    background-repeat: no-repeat;
   
    width: 15em;
    height: 15em;
}
.login-form{
    color:#0192a6;
    
    height: 2em;

    p{
        margin-top: -1.2em ;
        font-size: 0.8em;
        font-style: oblique;
    }
    input{
        all: unset;
        font-style: oblique;
        border: 0.1em solid #0192a6;
        
        border-radius: 0.3em;
        margin-left: 1em;
    }
}
.registro{
    display: flex;
    justify-content: center;
    align-items: center;

}
.botonesAccion{
        all: unset;
        color: #fb76ac;
        border: 0.1em solid #0192a6;
        justify-content: center;
        border-radius: 0.5em;
        cursor: pointer;
        padding: 0.6em;
        margin-right: 1em;
        margin-left: 1em;
        &:hover {
            background-color:#0192a6;
        }
}
.botones{
    display: flex;
    justify-content: center;
    
}
.mensajeOk{
    height: 2em;
    width: 20em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color:  #90c59a;

}
